transcript
*.exe
*.obj
*.o
*.out
*.a
*.lib
*.dll
*.so
*.bin
*.elf
work/
quartus/
*.log
.VSCodeCounter
*.swp
*.swo
*.tmp
*.sln
*.vcxproj
*.vcxproj.filters

.vs/
.vscode/
*.user
*.suo
*.VC.db

Thumbs.db
.DS_Store
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.circ
.vs/
.*.mem
.*.vlf
.transcript
vsim.vlf
.wlft*
*.psess
*.vsp
*.vspx
*.sap
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

*.json
*.nupkg
*.snupkg
packages/
*.nuspec
*.vcxproj
*.vcxproj.filters

.vscode/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*.gen.cs
*.g.cs
*.i.cs
*_i.c
*_p.c
*.ilk
*.meta

$tf/
vendor/*
build/*

*.bak
*.orig

*.tmp
*.temp
*.obj
*.pch
*.pdb
*.idb
*.tlog
*.log
*.cache
*.dbmdl
*.jfm
vendor/SFML/lib/**/*
vendor/SFML/bin/**/*

!vendor/SFML/lib/
!vendor/SFML/bin/
